*{
    padding: 0%;
    margin: 0;
}

body{
    background-color: #548687;
    text-align: center;
}

.game-container{
    height: 70vh;  
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.70rem;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 11px;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0,0.5);
    font-size: 10vmin;
    background-color: #C4E1E6;
    
}


#reset-btn{
 padding: 1rem;
 font-size: 1rem;
 font-weight: bold;
 border-radius: 0.7rem;
 border: none;
 background-color:#5486;
 color: #fff;   
}

#msg{
    color: #ffffc7;
    font-size: 5vmin;
}

.msg-container{
    height: 12vmin;
}

.hide{
    display: none;
}
