*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000000;
    font-family: Arial, sans-serif;
}

h1{
    color: #ffffff;
    margin-bottom: 350px;
}

.bgColorChanger,.ultColors{
    padding: 15px 30px;
    margin: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    background-color: #9870f4;
}

.resetColor{
    padding: 15px 30px;
    margin: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    background-color: #f28d68;
}